<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask form Example</title>
</head>
<body>
    <h1>enter a nmber</h1>
    
    <form method = "Post"> 
        <label for="number">Number:</label>
        <input type="text" id="number" name="number" required>
        <button type="submit">Submit</button>
    </form>

    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>